.container{
	position: relative;
	width: 100%;

}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.test + .tooltip > .tooltip-inner {
        background: linear-gradient(top,#F6FB7D,#F8FFA6);
        background: -moz-linear-gradient(bottom,#F6FB7D,#F8FFA6);
        color: #000000; 
        padding: 15px;
        padding-bottom: 2px;
        font-size: 15px;
        max-width: 350px;
    }
    /* Tooltip on bottom */
    .test + .tooltip.bottom > .tooltip-arrow {
        border-bottom: 5px solid #F6FB7D;
    }

    #note{
        background: none;
        border: none;
        min-height: 100px;
        width: 335px;
        overflow: hidden;
    }
